.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  font: 700 18px "Source Sans Pro";
}

.flag {
  color: red;
}