.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  background-color: darkgreen;
  color: white;
}

.stats, .mines, .clock, .actions {
  display: flex;
  justify-content: space-between;
}

.stats {
  width: 7rem;
}

.mines {
  width: 3rem;
}

.clock {
  width: 3rem;
}

.actions {
  width: 5rem;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid black;
}